
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
