
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/.suo
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-wal
.vs/ProyectoMedico/DesignTimeBuild/.dtbcache
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide
.vs/ProyectoMedico/v15/Server/sqlite3/storage.ide-shm
BusinessLayer/bin/Debug/netcoreapp2.1/BusinessLayer.dll
BusinessLayer/bin/Debug/netcoreapp2.1/BusinessLayer.pdb
BusinessLayer/bin/Debug/netcoreapp2.1/DataAccess.dll
BusinessLayer/bin/Debug/netcoreapp2.1/DataAccess.pdb
BusinessLayer/bin/Debug/netcoreapp2.1/Entities.dll
BusinessLayer/bin/Debug/netcoreapp2.1/Entities.pdb
*.dll
*.dll
*.dll
*.dll
BusinessLayer/obj/Debug/netcoreapp2.1/BusinessLayer.dll
